@import "../styles/list";

.csvButton {
  font-size: 13px;
  font-weight: 500;
  color: $brand;
  border: 2px solid $brand;
  border-radius: 20px;
  padding: 3px 8px 3px 8px;
}

.csvButton:disabled {
  opacity: 0.5;
}

.dateWrapper {
  display: flex;
  align-items: center;
  color: $brand;
}

.dateComponent {
  width: 200px;
  text-align: center;
  color: $brand;
  background-color: inherit;
  border: 0;
  padding: 0px !important;
}
