@import "../../styles/variables.scss";
@import "../../styles/list";

.height {
  & > span {
    margin-right: 10px;
  }
  a {
    position: relative;
    width: 22px;
    height: 22px;
    display: inline-block;
    color: $link;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: $a-bg;
    text-align: center;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    i {
      line-height: 22px;
      position: absolute;
      left: 3px;
      top: 0px;
      font-size: 16px;
    }
  }
}

.none {
  color: rgba(36, 36, 36, 0.5);
}
